<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset $title}{$title|translate} | {/ifset}PeckaDesk</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta name="description" content="PeckaDesk - Ticketovací systém z dílny PeckaDesign">
	<meta name="author" content="PeckaDesign">

	<!-- Icons-->
	<link href="{=$basePath.'/vendors/@coreui/icons/css/free.min.css'}" rel="stylesheet">
	<link href="{=$basePath.'/vendors/flag-icon-css/css/flag-icon.min.css'}" rel="stylesheet">

	<!-- Main styles for this application-->
	<link href="{=$basePath.'/css/style.css'}" rel="stylesheet">
	<link href="{=$basePath.'/vendors/pace-progress/css/pace.min.css'}" rel="stylesheet">

    {block head}{/block}
</head>

<body class="c-app">
<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
	<div class="c-sidebar-brand"><a href="{plink :Dashboard:Projects:List:}"><img class="c-sidebar-brand-full" src="{=$basePath.'/assets/brand/coreui-base-white.svg'}" width="118" height="46" alt="CoreUI Logo"><img class="c-sidebar-brand-minimized" src="{=$basePath.'/assets/brand/coreui-signet-white.svg'}" width="118" height="46" alt="CoreUI Logo"></a></div>
	<ul class="c-sidebar-nav">
		<li class="c-sidebar-nav-title">{$menu->getLabel()|translate}</li>
		{foreach $menu->getChildren() as $node}
			<li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{plink $node->getLink(), (expand) $node->getParameters()}">{$node->getLabel()|translate}<span class="badge badge-info">{$node->getBadge()}</span></a></li>
		{/foreach}
	</ul>
	<button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
</div>
<div class="c-wrapper">
	<header class="c-header c-header-light c-header-fixed c-header-with-subheader">
		<button class="c-header-toggler c-class-toggler d-lg-none mr-auto" type="button" data-target="#sidebar" data-class="c-sidebar-show"><span class="c-header-toggler-icon"></span></button><a class="c-header-brand d-sm-none" href="#"><img class="c-header-brand" src="{=$basePath.'/assets/brand/coreui-base.svg'}" width="97" height="46" alt="CoreUI Logo"></a>
		<button class="c-header-toggler c-class-toggler ml-3 d-md-down-none" type="button" data-target="#sidebar" data-class="c-sidebar-lg-show" responsive="true"><span class="c-header-toggler-icon"></span></button>
		<ul class="c-header-nav ml-auto mr-4">
			<li class="c-header-nav-item dropdown"><a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
					<div class="c-avatar"><img class="c-avatar-img" src="https://www.gravatar.com/avatar/{\md5(\strtolower(\trim($user->getIdentity()->getEmail())))}?s=72" alt="user@email.com"></div>
				</a>
				<div class="dropdown-menu dropdown-menu-right pt-0">
					<div class="dropdown-header bg-light py-2"><strong>{='settings'|translate}</strong></div><a class="dropdown-item" href="{plink :Dashboard:Users:Detail: $user->getIdentity()}">
						<svg class="c-icon mr-2">
							<use xlink:href="{=$basePath.'/vendors/@coreui/icons/svg/free.svg#cil-user'}"></use>
						</svg> {='profile'|translate}</a>
					<div class="dropdown-divider"></div><a class="dropdown-item" href="{plink logout!}">
						<svg class="c-icon mr-2">
							<use xlink:href="{=$basePath.'/vendors/@coreui/icons/svg/free.svg#cil-account-logout'}"></use>
						</svg> {='logout'|translate}</a>
				</div>
			</li>
		</ul>
		<div class="c-subheader justify-content-between px-3">
			<!-- Breadcrumb-->
			<ol class="breadcrumb border-0 m-0">
				{foreach $breadcrumb as $node}
					<li class="breadcrumb-item"><a href="{plink $node->getLink(), (expand) $node->getParameters()}">{$node->getLabel()|translate}</a></li>
				{/foreach}
			</ol>
			<div class="c-header-nav d-md-down-none mfe-2" n:if="$user->isAllowed(\PeckaDesk\Dashboard\Users\AclFactory::RESOURCE_USERS, \PeckaDesk\Dashboard\Users\AclFactory::PERMISSION_READ)">
				<a class="c-header-nav-link" href="{plink :Dashboard:Users:List:}">
					<svg class="c-icon">
						<use xlink:href="{=$basePath.'/vendors/@coreui/icons/svg/free.svg#cil-settings'}"></use>
					</svg> &nbsp;{='settings'|translate}</a>
			</div>
		</div>
	</header>
	<div class="c-body">
		<main class="c-main">
			<div class="container-fluid">

				<div class="alert alert-{$message->type}" role="alert" n:foreach="$flashes as $message">{$message->message|translate}</div>

				{include #content}
			</div>
		</main>
	</div>
	<footer class="c-footer">
		<div><a href="https://www.peckadesign.cz">PeckaDesign</a> © 2019</div>
	</footer>
</div>
<!-- CoreUI and necessary plugins-->
<script src="{=$basePath.'/vendors/pace-progress/js/pace.min.js'}"></script>
<script src="{=$basePath.'/vendors/@coreui/coreui/js/coreui.bundle.min.js'}"></script>
</body>
</html>
