{block content}

<h1>{$project->getName()}</h1>

<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="card">
				<div class="card-header">{='issues'|translate}</div>
				<div class="card-body">
                    {control issueGrid}
				</div>
			</div>
		</div>
	</div>
</div>
