includes:
	- lang.neon
	- ../Dashboard/PeckaNotesLogin/peckanoteslogin.neon


extensions:
	peckadesk: \PeckaDesk\DI\Extension
	console: \Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	migrations: \Nextras\Migrations\Bridges\NetteDI\MigrationsExtension


console:
    name: PeckaDesk
    version: '1.0'
    catchExceptions: true
    autoExit: true
    url: http://d.peckadesk.peckadesign.com/
    lazy: false


migrations:
    dir: %appDir%/../migrations
    driver: mysql
    dbal: doctrine
    withDummyData: false


parameters:


application:
	errorPresenter: Error
	scanDirs: false
	mapping:
		*: ['PeckaDesk', '*', 'Presenters\*Presenter']


session:
	expiration: 14 days


services:
	routerFactory:
		factory: \PeckaDesk\Router\RouterFactory

	router:
		factory: @\PeckaDesk\Router\RouterFactory::createRouter

	-
		factory: \PeckaDesk\Dashboard\Grids\BaseFactory

	-
		factory: \PeckaDesk\Dashboard\Projects\Grids\Factory

	-
		factory: \PeckaDesk\Model\EntityManagerFactory
		arguments:
			debugMode: %debugMode%
			paths:
				- %appDir%/Model/Projects
			proxyDir: %tempDir%/proxy

	-
		class: \Doctrine\ORM\EntityManager
		factory: @\PeckaDesk\Model\EntityManagerFactory::create

	-
		class: \Doctrine\DBAL\Connection
		factory: \Doctrine\DBAL\DriverManager::getConnection(%database%)

	-
		factory: \PeckaDesk\Dashboard\Forms\BaseFactory

	-
		factory: \PeckaDesk\Dashboard\Projects\Forms\EditFormFactory

	translator:
		factory: \PeckaDesk\Dashboard\Translator
		arguments:
			langs: %langs%

	-
		factory: \PeckaDesk\Dashboard\Issues\Grids\Factory

	-
		factory: \PeckaDesk\Dashboard\Issues\Forms\AddFormFactory

	-
		factory: \PeckaDesk\Dashboard\Issues\Forms\EditFormFactory

	-
		factory: \PeckaDesk\Dashboard\Projects\Forms\AddFormFactory

	-
		factory: \PeckaDesk\Dashboard\Issues\Model\IssueFacade

	-
		factory: \PeckaDesk\Dashboard\Projects\Model\ProjectFacade

	-
		factory: \PeckaDesk\Dashboard\Navigation\Factory

	-
		factory: \PeckaDesk\Dashboard\Presenters\Forms\LoginFormFactory

	-
		factory: \PeckaDesk\Dashboard\Users\Model\UserFacade

	nette.authenticator:
		factory: \PeckaDesk\Dashboard\Users\Authenticator

	-
		factory: \PeckaDesk\Dashboard\Users\PersistentLoginFacade

	-
		factory: \Aws\S3\S3Client
		arguments:
			-
				credentials:
					key: %s3.key%
					secret: %s3.secret%
				version: latest
				region: us-west-2
				endpoint: %s3.endpoint%
				use_path_style_endpoint: true

	-
		factory: \PeckaDesk\Model\Files\S3FileStorage

	-
		factory: \PeckaDesk\Dashboard\Files\Model\FileFacade

	-
		factory: \PeckaDesk\Model\CurrentDateTimeProvider

	nette.latteFactory:
		setup:
			- addFilter('datetime', [\PeckaDesk\Dashboard\Templating\Filters, dateTime])

	-
		implement: \PeckaDesk\Dashboard\Controls\ReplyComment\FactoryInterface

	-
		factory: \PeckaDesk\Dashboard\Issues\Forms\ReplyFormFactory

	-
		factory: \PeckaDesk\Dashboard\Users\Grids\Factory

	-
		factory: \PeckaDesk\Dashboard\Users\Forms\AddFormFactory

	-
		factory: \PeckaDesk\Dashboard\Users\Forms\EditFormFactory

	-
		factory: \PeckaDesk\Dashboard\Projects\Forms\AddUserFormFactory

	-
		factory: \PeckaDesk\Dashboard\Projects\Grids\UsersOnProjectFactory

	-
		factory: \PeckaDesk\Dashboard\UsersOnProjects\Model\UsersOnProjectsFacade

	-
		factory: \PeckaDesk\Dashboard\Users\AclFactory

	-
		factory: @\PeckaDesk\Dashboard\Users\AclFactory::create()
