{block content}

<h1>{$issue->getName()}</h1>

{foreach $posts as $post}
    {if $post instanceof \PeckaDesk\Model\Issues\Comment}
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="card">
						<div class="card-header">{$post->getCreatedBy()->getFirstName()} {$post->getCreatedBy()->getLastName()}
							<span class="float-right">{$post->getCreated()|datetime}</span>
						</div>
						<div class="card-body">
							<p>{$post->getCurrentRevision()->getText()}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
                {foreach $post->getFiles() as $file}
					<div class="col-md-3">
						<div class="card">
							<div class="card-header">{$file->getName()}</div>
							<div class="card-body">
								<img src="{plink :Dashboard:File:default $file}" class="img-thumbnail">
							</div>
						</div>
					</div>
                {/foreach}
			</div>
		</div>
    {elseif $post instanceof \PeckaDesk\Model\Issues\Status}
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div n:class="card, $post->getStatus() === \PeckaDesk\Model\Issues\Status::STATUS_NEW ? 'border-warning', $post->getStatus() === \PeckaDesk\Model\Issues\Status::STATUS_REJECTED ? 'border-danger', $post->getStatus() === \PeckaDesk\Model\Issues\Status::STATUS_ACCEPTED ? 'border-success', $post->getStatus() === \PeckaDesk\Model\Issues\Status::STATUS_FINISHED ? 'border-success', $post->getStatus() === \PeckaDesk\Model\Issues\Status::STATUS_WORKING ? 'border-danger'">
						<div class="card-header">{$post->getCreatedBy()->getFirstName()} {$post->getCreatedBy()->getLastName()}
							<span class="float-right">{$post->getCreated()|datetime}</span>
						</div>
						<div class="card-body">
							Změna stavu na {$post->getStatus()|translate}
						</div>
					</div>
				</div>
			</div>
		</div>
    {/if}
{/foreach}

{control reply}

{control changeStatus}
